body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2 {
font-weight: 700;
font-size: 32px;
line-height: 1.5;
}

h3 {
font-weight: 600;
font-size: 22px;
}

p {
     font-weight: 400;
     font-size: 16px;
}

button {
    cursor: pointer;
}

img {
    display: block;
}
