
/* #region hero mobile*/

.hero-inner  {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.hero-img {
    width: 338px;
    height: 311px;
}

.hero-wrap {
  text-align: center;
  padding: 21px;
}

.hero-title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 16px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;

}

.hero-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}


/* #region hero tablet-desktop*/
@media (min-width: 768px) {

    .hero {
        margin: 0 152px;

}

.hero-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 93px;
}

.hero-wrap {
    width: 465px;
     text-align: left;
}

.hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
    width: 400 px;
    margin-bottom: 18px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;

}

.hero-list-btn {
    justify-content: flex-start;
    gap: 30px;
}


.hero-img {
    width: 610px;
    height: 555px;
}
}

.start-btn {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #02897a;
}

.watch-btn {
    min-width: 164px;
    height: 23px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    color: #02897a;
    border: none;
    display: flex;
    gap: 9px;
    align-items: center;
}

.watch-icon {
    border-radius: 2px;
    fill: #02897a;
}

/* #endregion hero */
/* #region signup */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 40px ;
}

.signup-title {
    text-align: center;
    margin-bottom: 50px;
}

.signup-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .signup-container {
    padding: 0 145px ;
}
    .signup-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}
}

.signup-list-item {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.product-icon-wrap {
    border-radius: 19px;
    width: 51px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.product-icon-wrap-first {
    background: #02897a;
}

.product-icon-wrap-second {
    background: #4d8dff;
}

.product-icon-wrap-third {
    background: #740a76;
}

.product-icon-wrap-forth {
    background: #f03e3d;
}

.product-item {
    fill: #fff;
    align-items: center;
}

.signup-list-title {
    font-size: 22px;
    margin-bottom: 8px;
}

.signup-list-text {
    text-align: center;
}

@media (min-width: 768px) {
    .product-icon-wrap {
    width: 54px;
    height: 54px;
    margin-bottom: 26px;
}


}

.signup-btn {
display: block;
margin-bottom: 50px;
font-weight: 700;
font-size: 16px;
color: #fff;
border-radius: 4px;
min-width: 175px;
height: 53px;
background: #02897a;
border: none;
text-align: center;
margin: 0 auto;
}

/* region management  */

.menagement-container {
    display: flex;
    flex-direction: column;
    margin: 100px 31px ;
}

.menagement-img {
    width: 349px;
    height: 306px;
    margin-bottom: 50px;
}

.menagement-text-block {
}

.menagement-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menagement-list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menagement-span {
    font-weight: 600;
    font-size: 16px;
}

.support-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.galochka-icon {
    width: 16px;
    height: 12px;
}
.galochka {
    width: 35px;
    height: 35px;
    border: 2.92px solid #fff;
    border-radius: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}

.orange-galochka {
    background: #f90;
}
.red-galochka {
    background: #f03e3d;
}
.blue-galochka{
    background: #4d8dff;;
}