body {
    font-family: "Poppins", sans-serif;
    color: #22343d;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2 {
font-weight: 700;
font-size: 32px;
}

h3 {
font-weight: 600;
font-size: 22px;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

/* #region hero */
.hero {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-wrap {
    width: 465px;
}

.hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
    width: 400 px;
    margin-bottom: 18px;
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;

}

.hero-list-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-btn {}

.start-btn {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #02897a;
}

.watch-btn {
    min-width: 164px;
    height: 23px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    color: #02897a;
    border: none;
    display: flex;
    gap: 9px;
    align-items: center;
}

.watch-icon {
    border-radius: 2px;
    fill: #02897a;
}

/* #endregion hero */
/* #region signup */

.signup {
    padding-top: 50px;
    padding-bottom: 25px;
}

.signup-title {
   
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    width: 535px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.signup-list {
    display: flex;
    width: 1110px;
    height: 204px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 145px;
    margin-right: 145px;
}

.signup-list {
display: flex;
gap: 30px;
margin-bottom: 50px;
}

.signup-list-item {
   width: calc((100% - 90px) / 4);
}

.product-icon-wrap {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}

.product-icon-wrap-first {
    background: #02897a;
}

.product-icon-wrap-second {
    background: #4d8dff;
}

.product-icon-wrap-third {
    background: #740a76;
}

.product-icon-wrap-forth {
    background: #f03e3d;
}

.product-item {
    fill: #fff;
    align-items: center;
}

.signup-list-title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 13px;
}

.signup-list-text {
    line-height: 1.625;
    width: 255px;
}

.signup-btn {
display: block;
margin-bottom: 50px;
font-weight: 700;
font-size: 16px;
color: #fff;
border-radius: 4px;
min-width: 175px;
height: 53px;
background: #02897a;
border: none;
text-align: center;
margin: 0 auto;
}