
/* #region hero mobile*/

.hero-inner  {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.hero-img {
    width: 338px;
    height: 311px;
}

.hero-wrap {
  text-align: center;
  padding: 21px;
}

.hero-title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 16px;
}

.hero-text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;

}

.hero-list-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}


/* #region hero tablet-desktop*/
@media (min-width: 768px) {

    .hero {
        margin: 0 152px;

}

.hero-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 93px;
}

.hero-wrap {
    width: 465px;
     text-align: left;
}

.hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
    width: 400 px;
    margin-bottom: 18px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;

}

.hero-list-btn {
    justify-content: flex-start;
    gap: 30px;
}


.hero-img {
    width: 610px;
    height: 555px;
}
}

.start-btn {
    border-radius: 4px;
    width: 178px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #02897a;
}

.watch-btn {
    min-width: 164px;
    height: 23px;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    color: #02897a;
    border: none;
    display: flex;
    gap: 9px;
    align-items: center;
}

.watch-icon {
    border-radius: 2px;
    fill: #02897a;
}

/* #endregion hero */
/* #region signup */

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 40px ;
}

.signup-title {
    text-align: center;
    margin-bottom: 50px;
}

.signup-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .signup-container {
    padding: 0 145px ;
}
    .signup-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}
}

.signup-list-item {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.product-icon-wrap {
    border-radius: 19px;
    width: 51px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.product-icon-wrap-first {
    background: #02897a;
}

.product-icon-wrap-second {
    background: #4d8dff;
}

.product-icon-wrap-third {
    background: #740a76;
}

.product-icon-wrap-forth {
    background: #f03e3d;
}

.product-item {
    fill: #fff;
    align-items: center;
}

.signup-list-title {
    font-size: 22px;
    margin-bottom: 8px;
}

.signup-list-text {
    text-align: center;
}

@media (min-width: 768px) {
    .product-icon-wrap {
    width: 54px;
    height: 54px;
    margin-bottom: 26px;
}


}

.signup-btn {
display: block;
margin-bottom: 50px;
font-weight: 700;
font-size: 16px;
color: #fff;
border-radius: 4px;
min-width: 175px;
height: 53px;
background: #02897a;
border: none;
text-align: center;
margin: 0 auto;
}

/* region management  mobile*/

.menagement-container {
    display: flex;
    flex-direction: column;
    margin: 100px 31px ;
}

.menagement-img {
    width: 349px;
    height: 306px;
    margin-bottom: 50px;
}

.menagement-text-block {
}

.menagement-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menagement-list-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.menagement-title {
    margin-bottom: 16px;
}
.menagement-span {
    font-weight: 600;
    font-size: 16px;
}

.support-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.galochka-icon {
    width: 16px;
    height: 12px;
}
.galochka {
    width: 35px;
    height: 35px;
    border: 2.92px solid #fff;
    border-radius: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
}

.orange-galochka {
    background: #f90;
}
.red-galochka {
    background: #f03e3d;
}
.blue-galochka{
    background: #4d8dff;;
}

/* region management  tablet-desktop*/

@media (min-width: 768px) {
    .menagement-container {
    margin: 100px 145px ;
}
    .menagement-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 84px;
    }

    .menagement-item.reverse {
    flex-direction: row-reverse;
  }

    .menagement-img {
    width: 540px;
    height: 500px;
    flex-shrink: 0;
}
  .menagement-text-block {
    max-width: 486px;
  }
}

/* <!-- #region stuff --> */

.stuff-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 32px 100px 32px;
}
.stuff-title {
    text-align: center;
    margin-bottom: 8px;
}
.stuff-text {
    text-align: center;
    margin-bottom: 40px;
}
.stuff-list {
    display: flex;
     gap: 32px;
     flex-direction: column;
     align-items: center;
     margin-bottom: 32px;
    }
.stuff-list-item {
    width: 100%;
    max-width: 340px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}
.stuff-description {
    text-align: center;
    padding: 0 19px;
}

.stuff-btn {
    width: 216px;
    height: 53px;
    background: #02897a;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .stuff-container {
        align-items: center;
    
}
.stuff-title {
    margin-bottom: 25px;
}
.stuff-text {
    width: 542px;
    margin-bottom: 40px;
}
.stuff-list {
    max-width: 916px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 100px;
    margin-bottom: 50px;
    }

    .stuff-list-item {
    width: 408px;
    gap: 10px;
}

    /* 1 — зверху зліва */
  .stuff-list-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  /* 2 — знизу зліва */
  .stuff-list-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  /* 3 — знизу справа */
  .stuff-list-item:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }

  /* 4 — зверху справа */
  .stuff-list-item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }
.stuff-list-item {
   gap: 19px;
 margin: 0 auto;
}

.stuff-description {
     padding: 13px 19px;
     border-radius: 40px;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}
}

/* region strategies */

.strategy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 32px;
}

.strategy-text {margin-bottom: 40px;}
.strategy-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.strategy-list-item {
    padding-bottom: 40px;
}
.strategy-img {
    margin-bottom: 24px;
}
.strategy-list-text {
    margin-bottom: 12px;
}
.strategy-span{
    font-weight: 600;
}
.green {color: #02897a;}
@media (min-width: 768px) {
    .strategy-container {}
    .strategy-list{
        flex-direction: row;
        gap: 30px;}
    .strategy-list-item {
        border: 1px solid #dedede;
        border-radius: 8px;
}
}

/* <!-- #region pricetable --> */

.price-container {
    margin: 0 34px;
}

.price-heading {
    text-align: center;
    line-height: 167%;
    margin-bottom: 8px;
 
}
.price-text {
    text-align: center;
    margin-bottom: 74px;
}

.price-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.price-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 322px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.green-price-item {
    color: #fff;
    background-color: #02897a;
    border: none;
}

.green-price {
    color: #fff !important;
}

.price-list-heading {
    margin: 24px auto 8px auto;
}

.price-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
}

.price-value {
  font-size: 76px;
  font-weight: 700;
  line-height: 132%;
  color: #02897a; 
}

.price-currency {
  font-weight: 700;
  font-size: 24px;
  color: #02897a;
  transform: translateY(3px);
  gap: 4px;
}

.price-period {
  margin-top: 4px;
  font-size: 14px;
  color: #9f9f9f;
}
.price-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 38px;
}

.price-button {
    margin-bottom: 32px;
    border: none;
    border-radius: 8px;
width: 139px;
height: 44px;
background: #02897a;
font-weight: 600;
font-size: 18px;
color: #fff;
}

.white-button {
    color: #02897a;
    background-color: #fff;
}